/* Page 1 */
h2.head1 {
    background-color: #3399ff;
    max-width: 100%;
    content: 20px;
    padding: 20px;
    border-left: solid #0066ff 20px; 
    font-family: sans-serif;
}
.b1_p1_design {
    background-color: #3399ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b1_p1_design:hover {
    background-color: #0080ff;
}
.b1_p1_design:active {
    background-color: #086fd6;
}
.b2_p1_design {
    background-color: #3399ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b2_p1_design:hover {
    background-color: #0080ff;
}
.b2_p1_design:active {
    background-color: #086fd6;
}
.b3_p1_design {
    background-color: #3399ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b3_p1_design:hover {
    background-color: #0080ff;
}
.b3_p1_design:active {
    background-color: #086fd6;
}
.b4_p1_design {
    background-color: #3399ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b4_p1_design:hover {
    background-color: #0080ff;
}
.b4_p1_design:active {
    background-color: #086fd6;
}
.b5_p1_design {
    background-color: #3399ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b5_p1_design:hover {
    background-color: #0080ff;
}
.b5_p1_design:active {
    background-color: #086fd6;
}
.b6_p1_design {
    background-color: #3399ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b6_p1_design:hover {
    background-color: #0080ff;
}
.b6_p1_design:active {
    background-color: #086fd6;
}

bikes.bikes h3, h4, p{
    font-family: sans-serif;
}
.p1b p{
    max-width: 45%;
}
.b1 {
    float: left;
}
.b1m {
    margin-left: 670px;
}
.hp_b1_bc td {
    border: solid #404040 2px;
    background-color: #99e6ff;
    font-family: sans-serif;
    font-size: 20px; 
    width: 100px;
}
.hp_b1_bc {
   border-collapse: collapse; 
}
#smfs {
    font-size: 17px;
    font-weight: 600;
}
#smfs2 {
    font-size: 20px;
    font-weight: 600;
}
#linked {
    color: black;
    text-decoration: none;
    background-color: #75ceff;
    padding-left: 3px;
    padding-right: 3px;
    border: 2px solid #75ceff;
    border-radius: 10px;
}

/* Page 2 */

h2.head2 {
    background-color: #ff6666;
    max-width: 100%;
    content: 20px;
    padding: 20px;
    border-left: solid #cc0000 20px; 
    font-family: sans-serif;
}
.b1_p2_design {
    background-color: #ff8080;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b1_p2_design:hover {
    background-color: #ff6666;
}
.b1_p2_design:active {
    background-color: #ff1a1a;
}
.b2_p2_design {
    background-color: #ff8080;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b2_p2_design:hover {
    background-color: #ff6666;
}
.b2_p2_design:active {
    background-color: #ff1a1a;
}
.b3_p2_design {
    background-color: #ff8080;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b3_p2_design:hover {
    background-color: #ff6666;
}
.b3_p2_design:active {
    background-color: #ff1a1a;
}
.b4_p2_design {
    background-color: #ff8080;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b4_p2_design:hover {
    background-color: #ff6666;
}
.b4_p2_design:active {
    background-color: #ff1a1a;
}
.b5_p2_design {
    background-color: #ff8080;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b5_p2_design:hover {
    background-color: #ff6666;
}
.b5_p2_design:active {
    background-color: #ff1a1a;
}
.b6_p2_design {
    background-color: #ff8080;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b6_p2_design:hover {
    background-color: #ff6666;
}
.b6_p2_design:active {
    background-color: #ff1a1a;
}

.h3_fuseComp {
    font-family: sans-serif;
    font-weight: bolder;
}
#linked1 {
    color: #404040;
    text-decoration: none;
}
#linked1:hover {
    color: #333333;
}
#linked1:active {
    color: black:
}

/* Page 3 */

h2.head3 {
    background-color: #84e184;
    max-width: 100%;
    content: 20px;
    padding: 20px;
    border-left: solid #32cd32 20px; 
    font-family: sans-serif;
}
.b1_p3_design {
    background-color: #84e184;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b1_p3_design:hover {
    background-color: #5bd75b;
}
.b1_p3_design:active {
    background-color: #2db92d;
}
.b2_p3_design {
    background-color: #84e184;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b2_p3_design:hover {
    background-color: #5bd75b;
}
.b2_p3_design:active {
    background-color: #2db92d;
}
.b3_p3_design {
    background-color: #84e184;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b3_p3_design:hover {
    background-color: #5bd75b;
}
.b3_p3_design:active {
    background-color: #2db92d;
}
.b4_p3_design {
    background-color: #84e184;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b4_p3_design:hover {
    background-color: #5bd75b;
}
.b4_p3_design:active {
    background-color: #2db92d;
}
.b5_p3_design {
    background-color: #84e184;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b5_p3_design:hover {
    background-color: #5bd75b;
}
.b5_p3_design:active {
    background-color: #2db92d;
}
.b6_p3_design {
    background-color: #84e184;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b6_p3_design:hover {
    background-color: #5bd75b;
}
.b6_p3_design:active {
    background-color: #2db92d;
}

/* Page 4 */

h2.head4 {
    background-color: #ff80ff;
    max-width: 100%;
    content: 20px;
    padding: 20px;
    border-left: solid #e600e6 20px; 
    font-family: sans-serif;
}
.b1_p4_design {
    background-color: #ff80ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b1_p4_design:hover {
    background-color: #ff4dff;
}
.b1_p4_design:active {
    background-color: #cc00cc;
}
.b2_p4_design {
    background-color: #ff80ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b2_p4_design:hover {
    background-color: #ff4dff;
}
.b2_p4_design:active {
    background-color: #cc00cc;
}
.b3_p4_design {
    background-color: #ff80ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b3_p4_design:hover {
    background-color: #ff4dff;
}
.b3_p4_design:active {
    background-color: #cc00cc;
}
.b4_p4_design {
    background-color: #ff80ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b4_p4_design:hover {
    background-color: #ff4dff;
}
.b4_p4_design:active {
    background-color: #cc00cc;
}
.b5_p4_design {
    background-color: #ff80ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b5_p4_design:hover {
    background-color: #ff4dff;
}
.b5_p4_design:active {
    background-color: #cc00cc;
}
.b6_p4_design {
    background-color: #ff80ff;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b6_p4_design:hover {
    background-color: #ff4dff;
}
.b6_p4_design:active {
    background-color: #cc00cc;
}

/* Page 5 */

h2.head5 {
    background-color: #ffc966;
    max-width: 100%;
    content: 20px;
    padding: 20px;
    border-left: solid #ffa600 20px; 
    font-family: sans-serif;
}
.b1_p5_design {
    background-color: #ffc14d;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b1_p5_design:hover {
    background-color: #ffaf1a;
}
.b1_p5_design:active {
    background-color: #e69500;
}
.b2_p5_design {
    background-color: #ffc14d;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b2_p5_design:hover {
    background-color: #ffaf1a;
}
.b2_p5_design:active {
    background-color: #e69500;
}
.b3_p5_design {
    background-color: #ffc14d;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b3_p5_design:hover {
    background-color: #ffaf1a;
}
.b3_p5_design:active {
    background-color: #e69500;
}
.b4_p5_design {
    background-color: #ffc14d;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b4_p5_design:hover {
    background-color: #ffaf1a;
}
.b4_p5_design:active {
    background-color: #e69500;
}
.b5_p5_design {
    background-color: #ffc14d;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b5_p5_design:hover {
    background-color: #ffaf1a;
}
.b5_p5_design:active {
    background-color: #e69500;
}
.b6_p5_design {
    background-color: #ffc14d;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b6_p5_design:hover {
    background-color: #ffaf1a;
}
.b6_p5_design:active {
    background-color: #e69500;
}

/* Page 6 */

h2.head6 {
    background-color: #b3b3b3;
    max-width: 100%;
    content: 20px;
    padding: 20px;
    border-left: solid #808080 20px; 
    font-family: sans-serif;
}
.b1_p6_design {
    background-color: #b3b3b3;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b1_p6_design:hover {
    background-color: #ffaf1a;
}
.b1_p6_design:active {
    background-color: #e69500;
}
.b2_p6_design {
    background-color: #b3b3b3;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b2_p6_design:hover {
    background-color: #ffaf1a;
}
.b2_p6_design:active {
    background-color: #e69500;
}
.b3_p6_design {
    background-color: #b3b3b3;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b3_p6_design:hover {
    background-color: #ffaf1a;
}
.b3_p6_design:active {
    background-color: #e69500;
}
.b4_p6_design {
    background-color: #b3b3b3;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b4_p6_design:hover {
    background-color: #ffaf1a;
}
.b4_p6_design:active {
    background-color: #e69500;
}
.b5_p6_design {
    background-color: #b3b3b3;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b5_p6_design:hover {
    background-color: #ffaf1a;
}
.b5_p6_design:active {
    background-color: #e69500;
}
.b6_p6_design {
    background-color: #b3b3b3;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 17px;
    color: aliceblue;
    font-family: sans-serif;
    margin: -1px
}
.b6_p6_design:hover {
    background-color: #ffaf1a;
}
.b6_p6_design:active {
    background-color: #e69500;
}














